*{
    margin: 0;
    padding: 0;
}

/* PAGINA 1*/


.Body1{
    background-repeat: repeat-y;
    background-image: url(images/background\ 1.png);
    background-size: cover;
    background-attachment: fixed;
}


#H1V1{
    padding-bottom: 100px;
    font-family: cursive;
    font-size: 70px;
    -webkit-text-stroke: 2px black;
    animation: H1Move 5s infinite;
}

@keyframes H1Move {
    0%{
        color: rgb(214, 78, 214);
        transform: rotate(0deg);
    }
    25%{
        color: rgb(172, 63, 172);
        transform: rotate(10deg);   
    }
    50%{
        color: rgb(218, 28, 218);
        transform: rotate(0deg);
    }
    75%{
        color: rgb(248, 77, 248);
        transform: rotate(-10deg);
    }
    100%{
        color: rgb(214, 78, 214);
        transform: rotate(0deg);
    }
}
.YesNo{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;

    position: fixed;
    margin-top: 100px;
    justify-content: space-evenly;
    align-items: center;
}

#Yes{
    animation: btnidle 1s infinite;
    margin-right: 10px;
    font-family: cursive;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid rgb(59, 3, 59);
    
    background: repeating-linear-gradient(rgb(190, 60, 190), rgb(235, 74, 186)); 
}

#Yes:hover{
    cursor: pointer;
    animation: btncolorhover 2s;
    background: repeating-linear-gradient(rgb(133, 47, 133), rgb(173, 58, 139)); 
}

@keyframes btnidle {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-3deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes btncolorhover {
    0%{
        width: 100px;
        height: 50px;
        font-size: 20px;
    }

    50%{
        width: 102px;
        height: 52px;
        font-size: 22px;
    }
    100%{
        width: 100px;
        height: 50px;
        font-size: 20px;
    }
}
#No{
    position: absolute;
    font-family: cursive;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid rgb(59, 3, 59);
    background: repeating-linear-gradient(rgb(190, 60, 190), rgb(235, 74, 186)); 
    animation: btnidle 1s infinite;
}


/*LOBBY*/

.Body2{
    background-repeat: repeat-y;
    background-image: url(images/background\ 1.png);
    background-size: cover;
    background-attachment: fixed;
}

.Titulo2{
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    font-family: cursive;
    font-size: 70px;
    width: 95%;
    -webkit-text-stroke: 2px black;
    animation: H1Move 5s infinite;
}

.Caminhos{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#presente1{
    cursor: pointer;
    height: 70vh;
    width: 50vh;
    border: 10px solid rgb(73, 4, 73);
    border-radius: 30px;
    background-image: url(images/background\ 1\ gif.png);
    background-size: cover;
}

#presente1:hover{
    animation: abahover 4s;
}

@keyframes abahover {
    0%{
        height: 70vh;
        width: 50vh;
    }

    70%{
        height: 75vh;
        width: 55vh;
    }

    100%{
        height: 70vh;
        width: 50vh;
    }
}

/*      PART 3        */


.Body3{
    background-repeat: repeat-y;
    background-image: url(images/background\ 3.png);
    background-size: cover;
    background-attachment: fixed;
}

.Titulo3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    font-family: cursive;
    font-size: 70px;
    width: 95%;
    -webkit-text-stroke: 2px rgb(60, 31, 126);
    animation: H1Move 5s infinite;
}

#questao1{
    text-align: center;
    font-size: 30px;
    font-family: monospace;
    -webkit-text-stroke: 1px rgb(60, 31, 126);
    animation: btnidle 15s infinite;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.questoses1{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    -webkit-text-stroke: 1px rgb(33, 23, 56);
    font-family: cursive;
}

/*      RESPONSIVO     */
    
    
    @media screen and (max-width: 350px){

        /* PARTE1  */
    
    
        #No{
            position: absolute;
            font-family: cursive;
            width: 70px;
            height: 35px;
            border-radius: 10px;
            font-weight: bold;
            font-size: 20px;
            border: 2px solid rgb(59, 3, 59);
            background: repeating-linear-gradient(rgb(190, 60, 190), rgb(235, 74, 186)); 
            animation: btnidle 1s infinite;
        }
        
        #Yes{
            animation: btnidle 1s infinite;
            margin-right: 10px;
            font-family: cursive;
            width: 70px;
            height: 35px;
            border-radius: 10px;
            font-weight: bold;
            font-size: 20px;
            border: 2px solid rgb(59, 3, 59);
            
            background: repeating-linear-gradient(rgb(190, 60, 190), rgb(235, 74, 186)); 
        }
    
        #H1V1{
            padding-bottom: 100px;
            font-family: cursive;
            font-size: 40px;
            -webkit-text-stroke: 2px black;
            animation: H1Move 5s infinite;
        }
    
        /*LOBBY   */
    
        #presente1{
            cursor: pointer;
            height: 300px;
            width: 200px;
            border: 10px solid rgb(73, 4, 73);
            border-radius: 30px;
            background-image: url(images/background\ 1\ gif.png);
            background-size: cover;
        }


        /*  PARTE 3 */


        .Titulo3{
            text-align: start;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 100px;
            font-family: cursive;
            font-size: 40px;
            width: 90%;
            -webkit-text-stroke: 2px rgb(60, 31, 126);
            animation: H1Move 5s infinite;
        }
        
        #questao1{
            text-align: start;
            font-size: 20px;
            font-family: monospace;
            -webkit-text-stroke: 1px rgb(60, 31, 126);
            animation: btnidle 15s infinite;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
        
        .questoses1{
            margin-top: 50px;
            display: grid;
            flex-direction: column;
            justify-content: space-evenly;
            font-size: 15px;
            -webkit-text-stroke: 0px rgb(33, 23, 56);
            font-family: cursive;
            width: 95%;
        }
    }

    .dracu{
        justify-content: center;
        align-items: center;
        display: flex;
        width: 50%;
        height: 70%;
    }

    @media screen and (max-width: 700px){
        .questoses1{
            display: grid;
            flex-direction: column;
        }
    }